* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  padding: 20px;
}

.header-class {
  font-size: 1.1rem;
  font-weight: bold;
}

.MuiDataGrid-root .MuiDataGrid-cell {
  margin: 20px;
  white-space:normal !important;
}
